In [1]:
from databento_parser import Databento_parser
import pandas as pd
import gzip
import csv

In [3]:
df = pd.read_csv('CL_dates.csv')
df

,Date,Open,High,Low,Close,Volume,high range,positive move,criteria,security,CL1,CL2,CL3
0,2020-04-22,13.120000,16.180000,10.260000,13.780000,1235218,0.576998,0.050305,high range,CL=F,CLM0,CLN0,CLQ0
1,2020-03-20,24.730000,27.889999,19.459999,22.430000,1133808,0.433196,-0.093004,high range,CL=F,CLJ0,CLK0,CLM0
2,2020-04-27,16.840000,16.980000,11.880000,12.780000,623201,0.429293,-0.241093,high range,CL=F,CLM0,CLN0,CLQ0
3,2020-04-23,14.200000,18.260000,13.350000,16.500000,833584,0.367790,0.161972,high range,CL=F,CLM0,CLN0,CLQ0
4,2020-04-28,12.960000,13.690000,10.070000,12.340000,897087,0.359484,-0.047839,high range,CL=F,CLM0,CLN0,CLQ0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,2023-11-24,76.790001,77.089996,75.070000,75.540001,281147,0.026908,-0.016278,Recent Data,CL=F,CLF4,CLG4,CLH4
153,2023-11-27,75.309998,76.230003,74.059998,74.860001,289562,0.029301,-0.005975,Recent Data,CL=F,CLF4,CLG4,CLH4
154,2023-11-28,75.070000,77.019997,74.639999,76.410004,286618,0.031886,0.017850,Recent Data,CL=F,CLF4,CLG4,CLH4
155,2023-11-29,76.559998,78.089996,75.669998,77.860001,322170,0.031981,0.016980,Recent Data,CL=F,CLF4,CLG4,CLH4
156,2023-11-30,77.750000,79.599998,75.050003,75.959999,559169,0.060626,-0.023023,Recent Data,CL=F,CLF4,CLG4,CLH4

In [ ]:
parser = Databento_parser()
parser.set_api_key('Databento_api_key_3')
parser.select_dataset('GLBX.MDP3')
parser.select_schema('mbo')
parser.select_file_location('/Volumes/Seagate/Equity')
parser.set_verbose(False)

In [ ]:
# columns = [column for column in df.columns if 'CL' in column]
# for index, row in df.iterrows():
#     for col in columns:
#         print(row.iloc[0],row.loc[col])
#         parser.get_data(row.iloc[0],row.loc[col],'y')